<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager">
            <section name="AcumaticaRestApiExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AcumaticaRestApiExample.Properties.Settings>
            <setting name="SiteURL" serializeAs="String">
                <value>https://localhost/26r2/</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <!-- Leave Tenant, Branch and Locale empty to omit them from the sign-in request. -->
            <setting name="Tenant" serializeAs="String">
                <value />
            </setting>
            <setting name="Branch" serializeAs="String">
                <value />
            </setting>
            <setting name="Locale" serializeAs="String">
                <value />
            </setting>
            <!-- Resource Owner Password Credentials flow -->
            <setting name="ClientIDROPC" serializeAs="String">
                <value>7475716F-D402-EAB6-F8F8-893C9B1EEDF4@Company</value>
            </setting>
            <setting name="ClientSecretROPC" serializeAs="String">
                <value>cCVpHnGVownV7ZAVfT1Y9g</value>
            </setting>
            <!-- Authorization Code flow -->
            <setting name="ClientIDAC" serializeAs="String">
                <value>9737F884-8405-42FB-7303-7F1DA7BE8CA7@Company</value>
            </setting>
            <setting name="ClientSecretAC" serializeAs="String">
                <value>ZJ7sGGDZWOJyJzSpbRjrpg</value>
            </setting>
            <!-- Hybrid flow -->
            <setting name="ClientIDHybrid" serializeAs="String">
                <value>2DC9435C-A596-959E-3E38-8EB84725F089@Company</value>
            </setting>
            <setting name="ClientSecretHybrid" serializeAs="String">
                <value>KzK82VVdqggy4PHaOHMTNw</value>
            </setting>
            <setting name="RedirectUrl" serializeAs="String">
                <value>https://localhost/test/</value>
            </setting>
        </AcumaticaRestApiExample.Properties.Settings>
    </applicationSettings>
</configuration>
